
.breadcrumbs {
   margin-left: 60px;
}

.breadcrumbs__list {
   display: flex;
}

.breadcrumbs__item {
   width: 125px;
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   color: #414c63;
   padding: 30px;
   white-space: nowrap;
   transition: 0.3s;
   border-bottom: 3px solid transparent;

   &:hover {
      border-bottom: 3px solid #383bcf;
      color: #383bcf;
   }
}