li.nav__item
   a.nav__link(href="#primary") Главная
li.nav__item
   a.nav__link(href="#about") Обо мне
li.nav__item
   a.nav__link(href="#perks") Навыки
li.nav__item
   a.nav__link(href="#myworks") Работы
li.nav__item
   a.nav__link(href="#opinions") Отзывы
li.nav__item
   a.nav__link(href="#call") Связаться