section.section.opinions
   .container.container--opinions
      .opinions__title
         h2.title.title--opinions Что обо мне говорят
         .opinions__buttons
            button(type="button").prevbtn--opinions.btn--opinions
            button(type="button").nextbtn--opinions.btn--opinions.btn--opinions--active
      .opinions__slider
         ul.opinions__list
            li.opinions__comm
               .maindesc.maindesc--opinions Если бы это был настоящий комментарий, то, возможно, 
                  |в нём было бы что-нибудь конструктивное или типа того. Но так как это всего лишь
                  |макет, то я попытаюсь сломать верстку и добавить головной боли с выравниванием.
               .opinions__person
                  .opinions__avatar
                     +image("content/comm1.jpg", "opinions__face")
                  .opinions__name
                     h3.title.title--person Ковальчук Дмитрий
                     .maindesc.maindesc--person Основатель Loftschool
            li.opinions__comm
               .maindesc.maindesc--opinions По правде сказать, понятия не имею, кто это, 
                  |но так как это ученик нашей школы, то могу сказать только хорошее. И эти два факта вовсе
                  |никак не связаны!
               .opinions__person
                  .opinions__avatar
                     +image("content/comm2.jpg", "opinions__face")
                  .opinions__name
                     h3.title.title--person Сабанцев Владимир
                     .maindesc.maindesc--person Преподаватель
            li.opinions__comm
               .maindesc.maindesc--opinions По правде сказать, понятия не имею, кто это, 
                  |но так как это ученик нашей школы, то могу сказать только хорошее. И эти два факта вовсе
                  |никак не связаны!
               .opinions__person
                  .opinions__avatar
                     +image("content/comm2.jpg", "opinions__face")
                  .opinions__name
                     h3.title.title--person Сабанцев Владимир
                     .maindesc.maindesc--person Преподаватель