.container--crew {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width:auto;
}

.main--crew {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
}


.crew {
    display: flex;
    margin-top: 27px;
    flex-direction: column;
    
}

.social--crew {
    margin-top: 24px;
    margin-left: 18px;
}

.crew__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 85%;
    padding-left: 19px;
    padding-right: 27px;
}


.title--crew {
    margin-top: 0px;
    margin-left: 22px;

}

.content__maintitle--crew {
    margin: 24px 0px 0px 69px;
}

.content__maintitle--partners {
    margin-top: 18px;
    margin-left: 71px;
}

.crew__item {
    display: flex;
    width: 32%;
    font-family: Roboto;
    text-align: center;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.crew__image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 7px;
    border: solid 3px #577cba;    
}

.aside--crew {
    min-width: 272px;
    margin-top:25px;
    margin-left: 1px;
}




.crew__image--alex {
    content: "";
    
    width: 160px;
    height: 160px; 
    position: relative;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: white;
     
}

.crew__image--alex:after {
    content: "Алексей";
    background-image: url(../../img/mainpage/fotomask.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 68px;
    transition: opacity 0.4s;
}


.crew__image--alex:hover:after {
    opacity: 0;
    
}

/**/

.crew__image--inna {
    content: "";
    background-image: url(../../img/mainpage/inna.png);
    width: 160px;
    height: 160px; 
    position: relative;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: white;
     
}

.crew__image--inna:after {
    content: "Инна";
    background-image: url(../../img/mainpage/fotomask.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 68px;
    transition: opacity 0.4s;
}


.crew__image--inna:hover:after {
    opacity: 0;
    
}

/**/

.crew__image--boris {
    content: "";
    background-image: url(../../img/mainpage/boris.png);
    width: 160px;
    height: 160px; 
    position: relative;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: white;
     
}

.crew__image--boris:after {
    content: "Борис";
    background-image: url(../../img/mainpage/fotomask.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 70px;
    transition: opacity 0.4s;
}


.crew__image--boris:hover:after {
    opacity: 0;
    
}

/**/

.crew__image--elina {
    content: "";
    background-image: url(../../img/mainpage/elina.png);
    width: 160px;
    height: 160px; 
    position: relative;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: white;
     
}

.crew__image--elina:after {
    content: "Элина";
    background-image: url(../../img/mainpage/fotomask.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 72px;
    transition: opacity 0.4s;
}


.crew__image--elina:hover:after {
    opacity: 0;
    
}

/**/

.crew__image--elena {
    content: "";
    background-image: url(../../img/mainpage/elena.png);
    width: 160px;
    height: 160px; 
    position: relative;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: white;
     
}

.crew__image--elena:after {
    content: "Елена";
    background-image: url(../../img/mainpage/fotomask.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 72px;
    transition: opacity 0.4s;
}


.crew__image--elena:hover:after {
    opacity: 0;
    
}

/**/

.crew__image--yuri {
    content: "";
    background-image: url(../../img/mainpage/yrii.png);
    width: 160px;
    height: 160px; 
    position: relative;
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: white;
     
}

.crew__image--yuri:after {
    content: "Юрий";
    background-image: url(../../img/mainpage/fotomask.png);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 72px;
    transition: opacity 0.4s;
}


.crew__image--yuri:hover:after {
    opacity: 0;
    
}

/**/

/* Images end */

.crew__membername {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    color: #221f1f;
    margin-top: 9px;
}

.crew__role {
    font-size: 14px;
    font-weight: bold;
    color: #4b73b5;
    line-height: 1.5;
}

.crew__description {
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.5;
    color: #221f1f;
    margin-top: 5px;

}

.partners {
    border: solid 1px #e8e9ed;
    padding: 26px 0px;
}

.partners__maintitle {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #221f1f;
    text-transform: uppercase;
}

.partners__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 18px;
    margin-top: 31px;
}

.partners__item {
    margin-bottom: 51px;
}

.partners__item:last-child {
    margin-bottom: 0px;
}

.partners__logo {
    filter: grayscale(100%);
    opacity: 0.65;
    transition: 0.4s;
    width: 76%;
}

.partners__logo:hover {
    filter: grayscale(0%);
    opacity: 1;
}


.partners__logo:nth-child(3n) {
    margin-right: 0px;   
}

