.map {
    position: relative;
}

.map__img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../../img/layout/footerbg.png) center center/ cover no-repeat;
    padding: rem(10px) rem(0px);
    
}

.container--footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    @include phones {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .footer__tel {
            margin-top: 0.5rem;
        }

        .footer__social {
            margin-top: 0.5rem;
        }
    }

}

.footer__left {
    display: flex;
    flex-direction: column;
    font: $description;
    
}

.footer__right {
    display: flex;
    align-items: center;    

}

.footer__social {
    display: flex;    
    justify-content: space-between;
    width: 8rem;

}



.footer__adress {
    font-weight: 300;
    color: white;

}

.footer__tel {
    font-weight: bold;
    color: #e45028;

}

.footer__icon {
    display: block;
    height: rem(20px);
    width: rem(23px);
    cursor: pointer;
    display: block;
    opacity: (0.3);
    
    &:hover {
        opacity: (1);
        transition: 0.2s;
    }

}

@each $socialicon in (vk, fb, inst, tw) {
    .footer__icon--#{$socialicon} {
        background: url(../../img/layout/#{$socialicon}.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
}