

.footer {
    width: 100%;
    background-color: #4b73b5;
    padding: 11px 0px;
    flex: 0 0 auto;
    margin-top: 50px;
}



.autor {
    width: 236px;
    text-align: left;

}




.social__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-inline-start: 0px;
    margin: 2px 7px -4px -8px;
}

.footer__col {
    padding-top: 6px;

}



.autor {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}



.autor__loftschool {
    font-weight: bold;
    text-decoration: underline;
    color: #ffffff;
}

.autor__loftschool:hover {
    color: gray;
    transition: 0.2s;
}


.autor__contacts {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    
}

.autor__contacts:hover {
    color: gray;
    transition: 0.2s;
}

.logo__img--footer:hover {
    transform: translateY(-5px);
    transition: 0.2s;
}

