
.header {
   width: 100%;
  height: 76px;
  object-fit: contain;
  background-color: #4b73b5;

} 

.container {
    position: relative;
    height: 76px;
}

.header__left {
    position: absolute;
    width: 120px;
    height: 36px;
    top: 20px; left: 21px;
}

.header__right {
    position: absolute;
    top: 19px; right: 21px;
    text-align: right;
}


.phone {
    object-fit: contain; 
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    
}

