
.header {
  width: 100%;
  background-color: #4b73b5;
  padding: 15px 0px;

} 



.contact__phone {
  font-family: Roboto, sans-serif;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  text-align: right;

    
}


.contact__desc {
    float: right;
    
}
