.wrapper-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../img/mainpage/introback.jpg") center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;


}

.wlcm__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 1s cubic-bezier(0,0,1,1) ;
    animation-delay: 0.3s;
}

.wlcm__link {
    border-radius: 3px;
    border: solid 1px #1c5bc3;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.4px;
    color: #1c5bc3;
    text-transform: uppercase;
    padding: 11px 41px 10px 20px;
    transition: 0.3s;
}


.wlcm__logo {
    margin-bottom: 40px;
    display: block;
    width: 111px;
    height: 185px;
}

.wlcm__link:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 14px;
    background-image: url(../../img/mainpage/main_icon_blue.png);
    margin: 4px 0px 0px 151px;
}

.wlcm__link:after {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 14px;
    background-image: url(../../img/mainpage/main_icon_white.png);
    margin: -18px 0px 0px 151px;
    opacity: 0;
}

.wlcm__link:hover:after {
    opacity: 1;
    transition: 0.3s;
    
}

.wlcm__link:hover {
    background-color: #1c5bc3;
    color: white;
}

@keyframes bounce {
    30% {
        opacity: 0;
        transform: translateY(0)
    }

    65% {
        transform: translateY(-40px);
        
    }

    75% {
        transform: translateY(0);
        opacity: 1;
    }

    82% {
        transform: translateY(-16px);
    }

    92% {
        transform: translateY(0);
    }
}