.aside {
    align-self: flex-start;
    margin-top: 29px;
    
}

.navigation {
    display: inline-block;
    width: auto;
}

.navigation__link {
    text-transform: uppercase;
    padding: 5px 0px 5px 35px;
    position: relative;
    color: #4b73b5;
       
}

.navigation__link:after {
    opacity: 0;
}


.active.navigation__link:after {
    opacity: 1;
}

.navigation__link:hover:after {
    opacity: 1;
}

.navigation__link:before, .navigation__link:after {
    content: "";
    width: 23px;
    height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 7px;
    background-repeat: no-repeat;
    background-image: url("../../img/mainpage/spritesheet.png");
    transition: 0.3s;
    margin-left: 1px;
    margin-top: 3px;
}


.navigation__link--main:before {
    background-position: -128px -5px;
}

.navigation__link--main:after {
    background-position: -155px -5px;
}

.navigation__link--reviews:before {
    background-position: -21px -5px;
}


.navigation__link--reviews:after {
    background-position: -51px -5px;

}


.navigation__link--crew:before {
    background-position: -182px -5px;
}

.navigation__link--crew:after {
    background-position: -215px -5px;
}



.navigation__panel {
    list-style-type: none;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 4.1;
    letter-spacing: 2.4px;
    


}



.navigation__link:hover{
    color: black;
    transition: 0.3s;

}


.navigation__link.active {
    color: black;
}
