

.counter__text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #656464;
    padding-right: 25px;
}

.pagecounter__pages{
    display: flex;
    justify-content: center;
    list-style: none;
    
}



.pagenumber {
    text-decoration: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #221f1f;
    transition: 0.3s;
}

.counter__next {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
}

.counter__previous {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
   
}

.pagecounter__pages{
    min-height: 25px;
}


.active.pagenumber {
    display: block;
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-radius: 3px;
    background-color: #4b73b5;
    color: #fff;

}


.pagenumber:hover {
    color: #4b73b5
}

.active.pagenumber:hover {
    color: white;
}



.counter__previous, .counter__next {
    transition: 0.3s;
}

.counter__previous:hover {
    color: #4b73b5
}

.inactive.counter__previous:hover {
    color: #656464;
}

.counter__next:hover {
    color: #4b73b5;
}

.inactive.counter__next, .inactive.counter__previous {
    opacity: 0.3;
}

.inactive.counter__next:hover {
    color: #656464;
}

.title__news {
    margin-top: 60px;
}


