.reviewscontainer {
    display: flex;
    align-items: flex-start;
    width: auto;
    margin: 0 auto;
    margin-left: 214px;
}

.aside--reviews {
    max-width: 20%;
}


.title--reviews {
    margin: 24px 0px 0px 69px;
}

.title--reviewbox {
    margin: 12px 0px 0px 58px;
}

.content--reviews {
    margin-top: -13px;
    margin-left: -45px;
}

.content__list--reviews {
    margin-left: 74px;
    margin-top: 46px;
    display: flex;
    flex-direction: column;
}

.content__box--reviews {
    flex-direction: row;

}

.content__img--reviews {
    width: 171px;
    height: 171px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.content__fit{
    width: 171px;
    height: 171px;
}

.boxes {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
   
}



.greenbox {
    background-color: #4b73b5;
    background-image: url("../../img/mainpage/pattern.png");
    margin-top: 31px;
    padding: 22px 0px;
}

.greenbox__text {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    color: white;
    margin: 0 auto;
    width: 91%;
    text-align: center;
    
}


.greenbox__request {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.content__text--reviews {
    margin: 0px 0px 31px 19px;
    width: 700px;
}

.pagecounter--reviews {
    margin: 0px 53px 0px 0px;
}


.greenbox__requestnumber {
    font-weight: bold;
}

.reviewbox {
    background-color: #f5f5f5;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #221f1f;
    margin-left: 22px;
    margin-top: 50px;
    max-width: 767px;
    padding: 40px;
}

.reviewbox__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 21px;
    margin-left: 27px;

}


.reviewbox__title--user {
    margin-left: 31px;
    margin-right: 34px;
    margin-top: 2px;
}

.reviewbox__input--ta {
    
    margin-top: -2px;
}

.reviewbox__title--vklink {
    margin-left: -15px;
    margin-top: 2px;
}



.reviewbox__title--ta {
    margin-left: 58px;
    margin-top: 18px;
}

.reviewbox__row--ta {
    margin-top: 0px;
    margin-left: 0px;
}

.reviewbox__row--radio {
    margin-top: 28px;
}


.reviewtext {
    width: 561px;
    height: 90px;
    object-fit: contain;
    border-radius: 3px;
    border: solid 1px #4b73b5;
    background-color: #ffffff;
    margin-top: -19px;
    padding: 6px 6px;
}




.reviewbox__col {
    width: 48%;
}

.reviewbox__input {
    padding: 14px;
    margin-top: 2px;
    border-radius: 3px;
    border: none;
}


.reviewbox__input:focus {
    border: 1px solid #4b73b5;
}




.reviewbox__button {
    border-radius: 3px;
    background-color: #4b73b5;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 16px 45px 13px 18px;
    border: none;
    position: relative;
    margin-top: -5px;
    margin-right: 58px;

}


.reviewbox__col--btn {
    text-align: right;
}

.reviewbox__button:before {
    content: "";
    background-image: url(../../img/mainpage/main_icon_white.png);
    display: block;
    position: absolute;
    width: 15px;
    height: 14px;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.reviewbox__button:after {
    content: "";
    background-image: url(../../img/mainpage/main_icon_blue.png);
    display: block;
    position: absolute;
    width: 15px;
    height: 14px;
    color: #4b73b5;
    opacity: 0;
    transition: 0.3s;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}


.reviewbox__lbl {
    display: flex;
}

.reviewbox__button:hover {
    background-color: #fff;
    color: #4b73b5;
    transition: 0.3s;
}

.reviewbox__button:hover:after {
    opacity: 1;
    
}



.submit__review {
    position: absolute;
    
}




.reviewbox__radio {
    display: flex;

}

.reviewbox__radiotitle {
    margin: -12px 0px -24px 31px;
}


.reviewbox__custom {
    margin: 30px 1px 0px 33px;
}


.reviewbox__text--radio {
    margin: 29px -14px 0px 0px;
    padding-left: 15px;
}

.reviewbox__rd {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.reviewbox__text {
    color:#221f1f;
    opacity: 0.5;
    margin-left: -9px;
}

.reviewbox__custom {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #4b73b5;
    background-image: linear-gradient(to bottom, #ededed, #ffffff);
    

}


.reviewbox__custom:before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #4b73b5;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
    transform: translate (-50%, -50%);
    opacity: 0;
}

.reviewbox__rd:checked + .reviewbox__custom {
    opacity: 1;
}

.reviewbox__rd:checked + .reviewbox__custom:before {
    opacity: 1;
}

.reviewbox__rd:checked + .reviewbox__custom + .reviewbox__text {
    opacity: 1;
}

.content__box--reviews:nth-child(3) {
    margin-bottom: 15px;
    padding-bottom: 0px;
}

.content__box--reviews:last-child {
    margin-bottom: 12px;
}

