.wrbest {
    background: url(../../img/layout/wrbestbg.png) center center / cover no-repeat;
    
    & .container {
        align-items: center;
    }

    & .title {
        color: $black;
    } 

}

.container--wrbest {
    justify-content: center;
}

.wrbest__advantages {
    margin-top: rem(55px);

    
}

.wrbest__text {
    margin-top: rem(40px);

    @include phones {
        margin-left: 1rem;
    
    }

}

.wrbest__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;

    @include phones {
        width: 100%;
        flex-direction: row;

    }
    
    .wrbest__description {
        padding-top: rem(25px);

    }
}

.wrbest__icon {
    display: block;
    width: rem(120px);
    height: rem(100px);
    align-items: center;
    flex-shrink: 0;
}

@each $wrbestic in (meat, hand, natural) {
    .wrbest__icon--#{$wrbestic} {
        background: url(../../img/layout/#{$wrbestic}.png);
        background-repeat: no-repeat;
        background-position: center;
    }
}


.wrbest__list {
    display: flex;

    

    .subtitle {
        color:$black;
        font-size: rem(24px);
        text-align: center;

        @include phones {
            text-align: left;
        }

    }

    .wrbest__description {
        font:$description;
        font-size: 14px;
        font-weight: 300;
        color: rgba(47, 50, 52, 0.8);
        text-align: center;
        line-height: 1.71;

        @include phones {
            text-align: left;
        }
        
    }

    @include phones {
        flex-direction: column;
        
    }

}
