include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(http-equiv="X-UA-Compatible", content="ie=edge")
	script(src="")
	title Portfolio | main page
body
	.wrapper
		.maincontent
			.parallax
				header.header
					.container.container--header
						.initials DV
						nav.nav
							//- -var links = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
							//- -var anchors = ["#primary", "#about", "#perks", "#myworks", "#opinions", "call"]
							//- ul.nav__list
							//- 	each link in links
							//- 		li.nav__item
							//- 			a.nav__link(href="#")= link
							//- -var anchors = ["#primary", "#about", "#perks", "#myworks", "#opinions"]
							//- each anchor in anchors
							//- 	li.nav__item
							//- 		a.nav__link(href="#{anchor}")= link
							//- ul.nav__list
							include ./templates/components/nav.pug
							

						.social
							ul.social__icons
								-var socialIcons = ["ig", "vk", "github"]
								each icon in socialIcons
									li(class="social__item")
										a(class=`social__link social__link--${icon}`)
						.hamburger
							a.hamburger__menu 
				section.section.primary(id="primary")
					.primary__wrap
						.primary__titlebox
							h5.subtitle.subtitle--primary Личный сайт </br> веб разработчика 
							h1.title.title--primary Вирин Даниил
						.primary__scroll 
							.primary__scrolldesc Скролл
							+icon('scroll')
				section.section.about(id="about")
					.container.container--about
						.about__person
							.about__avatar
								+image('content/myface.jpg', 'about__pic')
							.about__table
								ul.about__data
									li.about__col
										.about__greycol Проживаю:
									li.about__col
										.about__greycol Возраст:
									li.about__col
										.about__greycol Родился:
								ul.about__data
									li.about__col
										.about__maincol Москва
									li.about__col
										.about__maincol 22 года
									li.about__col
										.about__maincol 4 января 1997
						.about__info
							.about__desc
								h5.subtitle.subtitle--about Привет, меня зовут
								h2.title.title--about Даниил Вирин
								p.maindesc.about__comment Я начинающий веб-разработчик. 
									|Мне нравится делать интересные и современные проекты.
							.about__note
								p.subdesc.about__loftschool Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
									|Его ожидает еще большое количество изменений и доработок, но пока что вы можете посмотреть на него и "прицениться" ко мне, как к потенциальному сотруднику.

				.parallax__bg
				.parallax__gradient
				.parallax__grass
				.parallax__train
			section.section.perks(id="perks")
				.container.container--perks
					.perks__desc
						h3.title.title--perks Чем я могу быть полезен вам
						p.maindesc.perks__par В данном блоке вы можете посмотреть на мои навыки и способности.  
							|Конечно, это лишь моя субъективная оценка, но благодаря этому хотя бы есть, на что ориентироваться. 
							|Да и просто кружочки всякие красивые, чего бы и не посмотреть?
					.perks__widget
						#perks-component
						include ./templates/components/perks.pug

				.perks__hands
			section.section.myworks(id="myworks")
				
				include ./templates/components/myworks.pug
				#myworks-component

			section.section.opinions(id="opinions")

				include ./templates/components/opinions.pug
				#opinions-component

				.opinions__gradient
				.leaf.leaf1
				.leaf.leaf2
				.leaf.leaf3
				.leaf.leaf4
			footer.footer(id="call")
				.container.container--footer 
					.footer__author
						h2.footer__copyright © 2019
						h3.title.footer--title Даниил Вирин
						p.subdesc.footer__subdesc Личный сайт веб-разработчика
					.footer__fill
						nav.nav.nav--footer
							include ./templates/components/nav.pug
							//- ul.nav__list
							//- -var links = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
							//- each link in links
							//- 	li.nav__item
							//- 		a.nav__link(href="#")= link
						.footer__desc
							.footer__socials
								p.maindesc.footer--maindesc Этот сайт я сделал в рамках обучения в Школе онлайн 
									|образования Loftschool
								ul.social__icons.social__icons--footer
									-var socialIcons = ["ig", "vk", "github"]
									each icon in socialIcons
										li(class="social__item social__item--footer")
											a(class=`social__link--${icon} social__link--footer`) 
							.footer__great
								p.subdesc.footer--maindesc Всегда пишите код так, будто сопровождать его будет склонный 
									|к насилию психопат, который знает где вы живете
								h4.subdesc.footer__quoter Martin Golding
